* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url("backgroundImg.jpg");
  background-image: url('backgroundImg.jpg') ,linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  height: 120vh;
}
nav{
  display: flex;
  justify-content: space-around;
}